body{
  overflow: hidden;
}

.container{
  width: 100%;
  margin: 0;
  max-width: none;
}

a.albumLink{
  cursor: pointer;
}

nav{
  background-color: #303F9F;
}

.albums{
  background-color: #3F51B5;
  height: calc(100vh - 64px);
  padding: 0 !important;
}

.albums a{
  color: white;
}

.albums li a{
  padding: 0 1em;
}

li.activeAlbum{
  background-color: rgba(0, 0, 0, 0.2);
}

.songs{
  overflow-y: auto;
  height: calc(100vh - 64px);
}
