body{
  overflow: hidden;
  background-image: url('../images/bg.jpg');
}

.container{
  width: 100%;
  margin: 0;
  max-width: none;
}

a.albumLink{
  cursor: pointer;
  padding:10px;
}

nav{
  background-color: rgba(0,0,0,0.5);
  box-shadow: 2px 2px 2px black;
}

.albums{
  background-color:rgba(46, 204, 113,0.4);
  height: calc(100vh - 64px);
  padding: 0 !important;
}

.albums a{
  color: white;
}

.albums li a{
  padding: 1.5em;

}
.albums li {
  text-align: center;
}

li.activeAlbum{
  background-color: rgba(0, 0, 0, 0.2);
}
.songs{
  color :white;
  padding: 0 !important;

}

.songsList{
  background: rgba(44, 62, 80,0.2);
  overflow-y: auto;
  height: calc(100vh - 110px);
}

audio{
  width: 50%;
  margin-top: 10px;
}
table{
  background:rgba(189, 195, 199,0.2);
  margin-left:auto;
  margin-right:auto;
  margin-top:10px;
  width:80%;
}
th{
  background-color: rgba(0, 0, 0, 0.4);
}
.activeSong{
  background:rgba(39, 174, 96,0.4);
}

.audioplayer{
  min-height:50px;
}
.marque{
  width:49%;
}
.song-td{
  border-bottom :1px solid gray;
}
.setting{
  color:black !important;
}
.void{
  text-align:center;
}
.song-click{
  cursor:pointer;
}

form{
  color:white;
  box-sizing: border-box;
}
.form-container{
  width:50%;
  background-color: rgba(150, 150, 150, 0.3);
  margin:auto;

}

fomr label{
  color:white;
}

.form-container form .row{
  padding: 10px;
  box-sizing: border-box;
  width: 100%;
  margin: auto;
}

.edition{
  color:white;

}
