<div class="container">
  <div class="row">
    <h1 class="edition center">Edition</h1>
    <div class="form-container">
    <form class="col s12" ng-submit="send()">
      <div class="row">
        <div input-field>
          <input type="text" ng-model="data.title">
          <label>Titre</label>
        </div>
      </div>
      <div class="row">
        <div input-field>
          <input type="text" ng-model="data.artist">
          <label>Artiste</label>
        </div>
      </div>
      <div class="row">
        <div input-field>
          <input type="text" ng-model="data.genre">
          <label>Genre</label>
        </div>
      </div>
      <div class="row">
        <div input-field>
          <input type="text" ng-model="data.year">
          <label>Année</label>
        </div>
      </div>
      <div class="row">
        <button class="btn waves-effect waves-light gray" type="submit" name="action">Modifier
          <i class="material-icons right">send</i>
        </button>
      </div>
      <div style="clear:both"></div>
    </form>
      <div style="clear:both"></div>
    </div>
  </div>
</div>
