<div class="app">
<div class="container col s12">
  <div class="row">
    <div class="col s3 albums">
      <p class="center" ng-if="albums.length === 0">Aucun album</p>
      <ul ng-if="albums.length > 0">
        <li ng-repeat="album in albums" ng-class="albumActif === album ? 'activeAlbum' : ''">
          <a class="albumLink waves-effect" ng-click="getSongs(album)">{{album}}</a>
        </li>
      </ul>
    </div>
    <div class="col s9 songs">
      <div class="audioplayer">
        <audio controls autoplay ng-src="{{audioSrc}}" ng-if="audioSrc !== undefined"/>
        <marquee class="marque" direction="right">{{songName}}</marquee>
      </div>

      <div class="songsList">
        <table ng-if="songs !== undefined">
          <tr>
            <th>Titre</th>
            <th>Artiste</th>
            <th>Genre</th>
            <th>Année</th>
            <th></th>
          </tr>
          <tr ng-repeat="song in songs | orderBy: 'title'" ng-click="playSong(song.path)" ng-class="audioPath === song.path ? 'activeSong' : ''">
            <td class="song-td song-click">{{song.title}}</td>
            <td class="song-td song-click">{{song.artist}}</td>
            <td class="song-td song-click">{{song.genre}}</td>
            <td class="song-td song-click">{{song.year}}</td>
            <td class="song-td">
              <button class="btn grey lighten-2 setting"><a ng-href="#/song/{{song.id}}"><i style="color:black" class="tiny material-icons">settings</i></a></button>
              <button class="btn grey lighten-2 setting" ng-click="removeSong(song.id)">X</button>
            </td>
          </tr>
        </table>
        <p class="void" ng-if="songs === undefined && albumActif === undefined"><i class="large material-icons voidIcon">play_for_work</i>Aucun album sélectionné</p>
        <p ng-if="songs === undefined && albumActif !== undefined">Aucune musique trouvée</p>
      </div>
    </div>
  </div>
</div>
</div>
